body{
    margin: 0;
}
div{
    box-sizing: border-box;
}

h2,p{
    margin: 10px 0px;
}
.container{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}
header{
    height: 100px;
}

.logo{
    float: left;
    margin-top: 30px;
}

nav{
    float: right;
    margin-top: 20px;
}

nav li{
    display: inline-block;
    margin-left: 32px;
}
nav>div{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/220px-Hamburger_icon.svg.png);
    background-size: contain;
    width: 44px;
    height: 44px;
    display: none;
}


.main_banner>img:nth-child(2){
    display: none;
}

.title{
    padding-top: 60px;
}
.product_wrap{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    flex-wrap: wrap;
    
}
.mobile_wrap{
    display: flex;
    width: 100%;
}

.product{
    width: 235px;
}

.product>p{
    margin: 6px 0px;
}
footer{
    padding: 80px 0px 40px 0px;
    font-size: 10px;
}


footer p{
    margin: 0;
    color: #999;
}
footer img{
    margin-left: 0.8em;
}

.footer_L{
    float: left;
    text-align: start;
}
.footer_R{
    float: right;
}

@media screen and (max-width: 768px) {
    
    .logo{
        margin-left: 16px;
    }
    nav{
        margin-right: 16px;
    }

    nav>ul{
        display: none;
    }
    nav>div{
        display: block;
    }


    .main_banner>img:nth-child(1){
        display: none;
    }

    .main_banner>img:nth-child(2){
        display: block;
    }
    
    .product_wrap{
        display: block;
    }
    .product{
        width: 50%;
        float: left;
        margin-top: 24px;
    }
    
}
